<script type="text/javascript">
$(function() {
		var mipsChart = new Highcharts.Chart({
			chart: { renderTo: "mipsChart", type: "column",
					 events: {
					 	load: function(){					 		
										<% params[:cpu][:lpars].each do |lpar| %>
								    	         $.get("/cpus/1/cday", {
								    	         	from: '<%= params[:cpu][:from] %>',
								    	         	to: '<%= params[:cpu][:to] %>',
										        	scope: '<%= Lpar.find(lpar).smfid %>'
										      	},function(data){
										      		var arr2 = new Array();
											      	$.each(data, function(index,obj) {
									               		arr2.push([Date.UTC(
									               				obj.datetime.substring(0,4),
									               				obj.datetime.substring(5,7)-1,
									               				obj.datetime.substring(8,10),
									               				obj.datetime.substring(11,13),
									               				obj.datetime.substring(14,16),
									               				obj.datetime.substring(17,19)
									               			),parseFloat(obj.average)]);
											      	});
											      	console.log(arr2);
										      	mipsChart.addSeries({
										      		name: "<%= Lpar.find(lpar).name %>",		      		
								                	data: arr2
								            	});
								           })
								    	<% end %>
						    			}
						   }
				   },
			title: { text: "MIPS Average by Day" },
			xAxis: { type: "datetime",
					 dateTimeLabelFormats: {
        				day: '%b %e %Y'   
    					},
					 tickInterval: 24 * 3600 * 1000,
		    		 labels: {
		    			rotation:-45,
		    		    align: 'right'
		    			} 
		    		},
			yAxis: { title: { text: "Average MIPS Used" }},
			series: []
	});	
});
</script>
<div id="mipsChart" style="width:1200px; height:600px;"></div>