- model_class = Cpu
.page-header
  %h1 Canned CPU Reports #{Location.find(params[:location]).name}
.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#mefbd"} ME/FBD
    %li
      %a{"data-toggle" => "tab", href: "#mefbdc"} ME/FBD compare
    %li
      %a{"data-toggle" => "tab", href: "#2weekavg"} 2 Week Avg
    %li
      %a{"data-toggle" => "tab", href: "#dayavg"} Avg by Day
  .tab-content
    #mefbd.tab-pane.active
      = render partial: 'mefbd'
    #mefbdc.tab-pane
      = render partial: 'mefbdc'
    #2weekavg.tab-pane
      2 Week Avg - Under Construction
    #dayavg.tab-pane
      = render partial: 'avgday'