.page-header
  %h1 Emerald Information
#box
  %h3 Emerald
  %ul.nav.nav-list
    %li.nav-header Documentation
    %li= link_to "API", "http://p21mcref01/eapi/"
    %li.nav-header Status Reports
    %li= link_to "Emerald Status", "rspec_output.html"
    %li.nav-header Code History
    %li= link_to "Emerald History", "http://p21mcref01:1234/?p=.git;a=summary"
    

