.page-header
  %h1 Emerald Information
#box
  %h3 Emerald
  %ul.nav.nav-list
    %li.nav-header App Documentation
    %li= link_to "API", "http://p21mcref01/eapi/"
    %li.nav-header App Status Reports
    %li= link_to "Emerald Status", rspec_path