#lbox
  %h2 Resend confirmation instructions
  %br
  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    %form.form-horizontal
      .control-group
        .controls
          = f.input :email, required: true, autofocus: true
      .form-actions{align: "center"}
        = f.button :submit, "Resend confirmation instructions"