<script type="text/javascript">
$(function() {
	var chart = new Highcharts.Chart({
			chart: { renderTo: "ziipsChart", type: "column" },
			title: { text: "ZIIP Average by Day (2 Weeks)" },
			xAxis: { },
			yAxis: { title: { text: "% of ZIIP Used" },
					 labels: {
    				  	formatter: function () {
				            return Highcharts.numberFormat(this.value, 2) + ' %';
				        }
				     }
				    },
			tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.numberFormat(this.y, 2) +' %';
                }
            },
			series: [
			<% @totals.each_with_index do |t,i| %>
			{
				name: "<%= @totals[i][0] %>",
				data: <%= @totals[i][1] %>,
			},
			<% end %>	
					]
	});
});
</script>
<% @totals.each_with_index do |t,i| %>
<%= @totals[i][0] %>
<%= @totals[i][1] %>
<% end %>
<div id="ziipsChart" style="width:1200px; height:600px;"></div>