<script type="text/javascript">
$(function() {
	var chart = new Highcharts.Chart({
			chart: { renderTo: "ziipsChart", type: "column"
			},
			title: { text: "ZIIP Average by Day (2 Weeks)" },
			xAxis: { type: "datetime",
					 tickInterval: 24 * 3600 * 1000,
    				 labels: {
    				  	rotation:-45,
    				  	align: 'right',
    				  	formatter: function() {
				             return Highcharts.dateFormat("%a %b %e, %Y", this.value);
				        }
    				  } 
    				},
			yAxis: { title: { text: "% of ZIIP Used" },
					 labels: {
    				  	formatter: function () {
				            return Highcharts.numberFormat(this.value, 2) + ' %';
				        }
				     }
				    },
			tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.numberFormat(this.y, 2) +' %';
                }
            },
			series: [
			<% params[:ziip][:lpars].each do |lpar| %>
			{
				name: "<%= Lpar.find(lpar.to_i).name %>",   		
				data: <%= Ziip.getZiipAverageByDay("2012-08-16", "2012-08-29", lpar.to_i) %>,
				pointInterval: 24 * 3600 * 1000,
				pointStart: Date.UTC(2012, 7, 16)
			},
			<% end %>
			<% params[:ziip][:machines].each do |m| %>
			{
				name: "<%= Machine.find(m.to_i).name %>",		      		
				data: <%= Ziip.getZiipBoxAverageByDay("2012-08-16", "2012-08-29", m.to_i) %>,
				pointInterval: 24 * 3600 * 1000,
				pointStart: Date.UTC(2012, 7, 16)
			},
			<% end %>	
					]
	});
});
</script>

<div id="ziipsChart" style="width:1200px; height:600px;"></div>