<script type="text/javascript">
$(function() {
	//Set the charts colors
	Highcharts.setOptions({
    colors: [
'#C46210',	
'#2E5894',
'#9C2542',	
'#BF4F51',
'#A57164',	
'#58427C',	
'#4A646C',	
'#85754E',	
'#319177',	
'#0A7E8C',	
'#9C7C38',
'#8D4E85',	
'#8FD400',	
'#D98695',	
'#757575',	
'#0081AB',
'#CDC5C2',
'#80DAEB',
'#ECEABE',
'#FFCF48',
'#FD5E53',
'#FAA76C',
'#18A7B5',
'#EBC7DF',
]
});
	var chart = new Highcharts.Chart({
			chart: { renderTo: "ziipsChart", type: "column" },
			title: { text: "ZIIP Average 2 Weeks" },
			xAxis: { categories: [
				'Average'
			]},
			yAxis: { title: { text: "Average % of ZIIP Used" },
					 labels: {
    				  	formatter: function () {
				            return Highcharts.numberFormat(this.value, 2) + ' %';
				        }
				     }
				    },
			tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.numberFormat(this.y, 2) +' %';
                }
            },
			series: [
			<% params[:ziip][:lpars].each do |l| %>
			{
				name: "<%= Lpar.find(l).name %>",
				data: <%= Ziip.totalAveragesLPARs("2012-08-16", "2012-08-30", l) %>,
				dataLabels: { enabled: true,							  
							  formatter: function() {
                        return Highcharts.numberFormat(this.y, 2) +' %';
                    },
               }
			},
			<% end %>
			<% params[:ziip][:machines].each do |m| %>
			{
				name: "<%= Machine.find(m).name %>",
				data: <%= Ziip.totalAveragesCECs("2012-08-16", "2012-08-30", m) %>,
				dataLabels: { enabled: true,							  
							  formatter: function() {
                        return Highcharts.numberFormat(this.y, 2) +' %';
                    },
               }
			},
			<% end %>
					]
	});
});
</script>

<div id="ziipsChart" style="width:1200px; height:600px;"></div>